@model HHS_MVC.Models.tblKlasgroep

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_IntranetLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Klasgroep</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Klasnaam
            @*@Html.DisplayNameFor(model => model.naam)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.naam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.klascode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.klascode)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.tblDocent.voornaam)*@
            Titularis
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblDocent.voornaam)
            @Html.DisplayFor(model => model.tblDocent.achternaam)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.tblRichting.naam)*@
            Richting
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblRichting.naam)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Bewerken", "Edit", new { id = Model.klasgroep_id }) |
    @Html.ActionLink("Terug", "Index")
</p>
