@model HHS_MVC.Models.tblStudent

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_IntranetLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.voornaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.voornaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.achternaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.achternaam)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.email_ouder)*@
            Email ouder
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email_ouder)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.rapport_wiskunde)*@
            Cijfer Wiskunde
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rapport_wiskunde)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.rapport_frans)*@
            Cijfer Frans
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rapport_frans)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.rapport_engels)*@
            Cijfer Engels
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rapport_engels)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.rapport_sport)*@
            Cijfer Sport
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rapport_sport)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.rapport_biologie)*@
            Cijfer Biologie
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rapport_biologie)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.tblKlasgroep.naam)*@
            Klasgroep
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblKlasgroep.naam)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Bewerken", "Edit", new { id = Model.student_id }) |
    @Html.ActionLink("Terug", "Index")
</p>
